<h1>hello world</h1>
<h2>pusher test</h2>


<script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('165dd8173aaf2fd96771', {
    encrypted: true
  });

  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {
    alert(data.message);
  });
</script>